.home-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.add-btn-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 5px 5px;
  width: 320px;
  align-items: center;
  justify-items: center;
}
.top-info {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 20px;
  padding-left: 5px;
  font-size: 0.8em;
  justify-self: start;
}
.filter-keyword-input {
  width: 100px;
  height: 30px;
  padding: 3px;
  font-size: 1.1em;
  line-height: 28px;
  justify-self: start;
}
.filter-noitem {
  width: 95px;
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  background-color: #999;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
}
.filter-noitem .custom-label {
  height: 20px;
  color: white;
  line-height: 18px;
  text-align: center;
}
.filter-noitem:hover {
  background-color: rgb(170, 170, 170);
}
.filter-noitem-selected {
  width: 95px;
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  background-color: red;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
}
.filter-noitem-selected .custom-label {
  height: 20px;
  color: white;
  line-height: 18px;
  text-align: center;
}
.filter-noitem-selected:hover {
  background-color: rgb(255, 45, 45);
}
.add-btn-wrap .add-btn {
  grid-column-start: 3;
  width: 95px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(194, 126, 16);
  color: #fff;
  line-height: 28px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}
.add-btn-wrap .add-btn:hover {
  background-color: rgb(214, 138, 16);
}
.home-wrap .list-student-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5px;
}
.list-msg {
  height: 40px;
  padding-top: 15px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}
.list-student-wrap .item-student {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(21, 163, 144);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.list-student-wrap .item-student:hover {
  background-color: rgb(212, 255, 249);
}
.item-student .student-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(21, 163, 144);
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.item-student-selected {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: rgb(208, 228, 221);
  border: 1px solid rgb(8, 119, 104);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.item-student-selected .student-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(8, 119, 104);
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.list-student-wrap .item-student-nosub {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(87, 90, 90);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.list-student-wrap .item-student-nosub:hover {
  background-color: rgb(212, 255, 249);
}
.item-student-nosub .student-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(87, 90, 90);
  color: #bbb;
  font-size: 1em;
  font-weight: bold;
}
.item-student-nosub-selected {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: rgb(169, 182, 177);
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.item-student-nosub-selected .student-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(54, 54, 54);
  color: #bbb;
  font-size: 1em;
  font-weight: bold;
}
.item-student-started {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: rgb(192, 192, 192);
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.item-student-started:hover {
  background-color: rgb(185, 185, 185);
}
.item-student-started .student-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(136, 136, 136);
  color: rgb(216, 216, 216);
  font-size: 1em;
  font-weight: bold;
}
.student-name {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 3px;
  color: rgb(0, 82, 69);
  font-size: 1.1em;
  font-weight: bold;
}
.student-subject {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 3px;
  color: #555;
  font-size: 1em;
}
.student-indate {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px dashed rgb(167, 167, 167);
  padding: 2px 2px 2px 5px;
  color: #777;
  font-size: 0.9em;
}
.selected-item {
  position: sticky;
  top: 0;
  margin-top: 2px;
  padding: 5px 10px 5px;
  border: 1px solid rgb(8, 110, 97);
  background-color: rgb(255, 255, 255);
  z-index: 6;
}
.selected-item-completed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  justify-items: center;
}
.selected-item-completed > div {
  font-size: 20px;
  font-weight: bold;
}
.selected-item-info {
  display: grid;
  grid-template-columns: 100px 65px 1fr;
  margin-bottom: 3px;
  gap: 5px;
  align-items: center;
}
.selected-item-type {
  color: rgb(7, 105, 92);
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.selected-item-photo {
  overflow: hidden;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
}
.selected-item-photo img {
  width: 80%;
}
.selected-item-key {
  padding: 2px 2px 2px 5px;
  color: #777;
  font-size: 0.9em;
}
.selected-item-value {
  padding: 2px 2px 2px 5px;
  color: #333;
  font-size: 0.9em;
}
.modify-delete-btn {
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 54px 54px;
}
.selected-item-modify {
  width: 50px;
  height: 26px;
  background-color: #aaa;
  color: #eee;
  font-size: 1.1em;
  line-height: 28px;
  text-align: center;
  justify-self: start;
  cursor: pointer;
}
.selected-item-modify:hover {
  background-color: #888;
}
.selected-item-delete {
  width: 50px;
  height: 26px;
  background-color: rgb(255, 0, 0);
  color: #eee;
  font-size: 1.1em;
  line-height: 28px;
  text-align: center;
  justify-self: start;
  cursor: pointer;
}
.selected-item-delete:hover {
  background-color: rgb(255, 75, 75);
}
.selected-item-subject {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr 1fr 0.3fr;
  width: 80%;
  padding: 3px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgb(92, 114, 139); */
  align-items: center;
}
.selected-item-subject-title {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 3px 0;
  background-color: rgb(92, 114, 139);
  color: #ddd;
  text-align: center;
  font-size: 1em;
}
.selected-item-subject-key {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1px 0;
  color: #555;
  text-align: center;
  font-size: 0.9em;
}
.selected-item-subject-value {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 1px 0;
  color: #222;
  text-align: center;
  font-size: 0.9em;
}
.selected-item-btns {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 35px;
  width: 80%;
  margin: 0 auto;
  padding: 3px;
  align-items: center;
  justify-items: center;
}
.btn-change-subject {
  width: 80%;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border: 1px solid rgb(30, 149, 204);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(30, 149, 204);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.btn-change-subject:hover {
  background-color: rgba(0, 174, 255, 0.15);
}
.btn-change-subject-save {
  width: 80%;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border: 1px solid rgb(31, 118, 199);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(31, 118, 199);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.btn-change-subject-save:hover {
  background-color: rgba(31, 118, 199, 0.15);
}
.btn-close-selected-item {
  width: 80%;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border: 1px solid rgb(123, 137, 144);
  color: rgb(123, 137, 144);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.btn-close-selected-item:hover {
  background-color: rgba(123, 137, 144, 0.15);
}
.btn-change-subject-cancel {
  width: 80%;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border: 1px solid rgb(123, 137, 144);
  color: rgb(123, 137, 144);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.btn-change-subject-cancel:hover {
  background-color: rgba(123, 137, 144, 0.15);
}

/* ADD FORM */
.add-form {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 2px;
  padding: 5px 10px 5px;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border: 1px solid #555;
  z-index: 6;
}
.add-form-title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.2em;
  font-weight: bold;
}
.add-form-label {
  padding: 3px;
  color: #333;
  font-size: 0.8em;
}
.add-form-input,
.add-form-period-input {
  padding: 3px 10px;
}
.add-form-input input {
  width: 150px;
  height: 30px;
  padding: 2px;
}
.add-form-period-input input {
  width: 80px;
  height: 30px;
  padding: 2px;
}
.add-form-input select {
  display: block;
  width: 150px;
  height: 30px;
}
.add-form-btns {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3px 10px 3px;
  align-items: center;
  justify-items: center;
}
.add-form-btns button {
  display: block;
  width: 120px;
  height: 35px;
  line-height: 33px;
}
.add-form-confirm {
  border: 1px solid rgb(31, 118, 199);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(31, 118, 199);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.add-form-confirm:hover {
  background-color: rgba(31, 118, 199, 0.15);
}
.add-form-cancel {
  border: 1px solid rgb(123, 137, 144);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(123, 137, 144);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.add-form-cancel:hover {
  background-color: rgba(123, 137, 144, 0.15);
}
.validation-message {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 260px;
  padding: 3px;
  background-color: rgba(255, 0, 0, 0.1);
  font-size: 0.9em;
  text-align: center;
}
/* END ADD FORM */

/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
  .list-student-wrap,
  .list-subject-wrap,
  .list-teacher-wrap {
    width: 95%;
    margin: 0 auto;
  }
  .selected-item-info {
    grid-template-columns: 110px 120px 1fr;
  }
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
  .home-wrap {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
  }
  .add-btn-wrap {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 400px;
    padding-left: 30px;
    justify-self: start;
  }
  .filter-keyword-input {
    width: 140px;
  }
  .list-student-wrap {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
  .selected-item,
  .add-form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    top: 55px;
    width: 95%;
    padding: 5px 10px 5px;
    z-index: 6;
  }
  .item-student div,
  .item-student-selected div,
  .item-student-started div,
  .item-subject div,
  .item-subject-selected div,
  .item-subject-started div,
  .item-teacher div,
  .item-teacher-selected div,
  .item-teacher-started div {
    padding-left: 15px;
  }
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {
  .selected-item-info {
    font-size: 1.1em;
  }
}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
}
