.home-wrap .list-teacher-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5px;
}
.list-teacher-wrap .item-teacher {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 5px;
  background-color: white;
  border: 1px solid rgb(209, 47, 47);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.list-teacher-wrap .item-teacher:hover {
  background-color: rgb(255, 226, 226);
}
.item-teacher .teacher-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(209, 47, 47);
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.item-teacher-selected {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 5px;
  background-color: rgb(208, 228, 221);
  border: 1px solid rgb(148, 17, 17);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.item-teacher-selected .teacher-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(148, 17, 17);
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.item-teacher-started {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 5px;
  background-color: rgb(192, 192, 192);
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  align-items: center;
}
.item-teacher-started .teacher-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  background-color: rgb(136, 136, 136);
  color: rgb(216, 216, 216);
  font-size: 1em;
  font-weight: bold;
}
.teacher-name {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 3px;
  color: rgb(0, 82, 69);
  font-size: 1.1em;
  font-weight: bold;
}
.teacher-subject {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 3px;
  color: #555;
  font-size: 1em;
}
.teacher-indate {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px dashed rgb(167, 167, 167);
  padding: 2px 2px 2px 5px;
  color: #777;
  font-size: 0.9em;
}
.list-teacher-wrap-nouse .item-teacher:hover {
  animation-name: teacherHover;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes teacherHover {
  from {
    background-color: white;
  }
  to {
    background-color: rgb(193, 240, 234);
  }
}
